<div class="user-temp">
  <h1 class="title-page-welcome"><%= @user.username %></h1>
  <p class="title-page-info"><%="First Name: "%><%= @user.first_name %></p>
  <p class="title-page-info"><%="Last name: "%><%= @user.last_name %></p>
  <p class="title-page-info"><%="Your Email: "%><%= @user.email %></p>
</div>
