<div class="boat-temp">
  <h1 class="title-page-welcome"><%= "#{@boating_location.name}" %></h1>
  <p><%="address: "%><%= @boating_location.address %></p>
  <p><%="latitude and longitude: "%><%= @boating_location.lat_long.nil? ? "N/A" : @boating_location.lat_long.values %></p>
  <p><%="gas dock: "%><%= @boating_location.gas_dock %></p>
  <p><%="public restroom: "%><%= @boating_location.public_restroom %></p>
  <p><%="public launch: "%><%= @boating_location.public_launch %></p>
  <%if user_signed_in? %>
    <p class="title-page-info"><%="hello captain #{current_user.first_name} !!"%></p>
  <%end%>
  <p class="title-page-info"><%= link_to 'back to boating locations', boating_locations_path %></p>
</div>
