<div class="boat-temp">
  <h1 class="title-page-welcome"><%= "#{@marina.name}" %></h1>
  <p class="title-page-info"><%="address : "%><%= @marina.address %></p>
  <p class="title-page-info"><%="city : "%><%= @marina.city %></p>
  <p class="title-page-info"><%="state : "%><%= @marina.state %></p>
  <p class="title-page-info"><%="zip code : "%><%= @marina.zip_code %></p>
  <p class="title-page-info"><%="max boat size : "%><%= @marina.max_boat_size %></p>
  <p class="title-page-info"><%="accommodations : "%><%= @marina.accommodations %></p>
  <p class="title-page-info"><%="public launch : "%><%= @marina.public_launch %></p>
  <p class="title-page-info"><%="public restroom : "%><%= @marina.public_restroom %></p>
  <p class="title-page-info"><%="gas dock : "%><%= @marina.gas_dock %></p>



  <%if user_signed_in? %>
    <%="hello"%>
  <%end%>
</div>
