<div class="boat-temp">
  <h1 class="title-page-welcome"><%= "#{@marina.name}" %></h1>
  <p><%="phone number : "%><%= @marina.phone_number %></p>
  <p><%="address : "%><%= @marina.address %></p>
  <p><%="city : "%><%= @marina.city %></p>
  <p><%="state : "%><%= @marina.state %></p>
  <p><%="zip code : "%><%= @marina.zip_code %></p>
  <p><%="max boat size : "%><%= @marina.max_boat_size %></p>
  <p><%="accommodations : "%><%= @marina.accommodations %></p>
  <p><%="public launch : "%><%= @marina.public_launch %></p>
  <p><%="public restroom : "%><%= @marina.public_restroom %></p>
  <p><%="gas dock : "%><%= @marina.gas_dock %></p>
  <li><%= link_to 'back to all marinas', marinas_path %></li>


  <%if user_signed_in? %>
    <%="hello"%>
  <%end%>
</div>
